* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 30px;
  color: #898383;
}

p {
  color: #898383;
  margin: 10px;
  text-align: justify;

}

h2 {
  color: #898383;
  padding: 20px;
}

h3 {
  color: #80B0BB;
}


// ------------------------------------------------------------------nav-------------------------- 

.navbar-brand img {
  height: 120px;

}

.info {
  background-color: #DFE8EC;
  padding-right: 70%px;
  padding-top: 10px;

}

// ----------------------------------------------------------hero------------------------------------


.hero img {
  height: 100%;
  width: 100%;
}

.logo {
  width: 300px !important;
  height: 300px !important;
  position: absolute;
  top: 30%;
  left: 85%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

.centered {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 3;
}




.centered h1 {
  color: white;
  font-size: 150px;
}

.sub {
  color: white;
  font-size: 50px;

}

.sub {
  position: absolute;
  top: 41%;
  left: 69%;
  transform: translate(-50%, -50%);
  z-index: 4;
}


.pro {

  position: absolute;
  left: 20px;
  top: 320px;
  z-index: 2;
  width: 220px !important;
  height: 220px !important;
}

.user-block {
  background-color: #80B0BB;
  position: relative;
  width: 300px;
  border-radius: 50px;
  text-align: right;
  left: 90px;
  top: -120px;
  padding: 5px;
  padding-right: 20px;
  line-height: 3px;
  opacity: 90%;
  color: white;
  z-index: 1 !important;
}

.user-block p {
  text-align: right;
}

// ----------------------------------------------------------------about------------------------------------------------

#about p {
  text-align: justify;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.icon {
  width: 80px;
  padding-bottom: 20px;
}






// --------------------------------------------------------------------cards--------------------------------------------------


* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}


.card {
  position: relative;
  background: #DFE8EC;
  width: 325px;
  height: 75vh;
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2),
    0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-left: 8%;
  margin: 20px;




  &__image-container {
    margin: -2rem -2rem 1rem -2rem;
  }

  &__line {
    opacity: 0;
    animation: LineFadeIn .8s .8s forwards ease-in;
  }

  &__image {
    opacity: 0;
    animation: ImageFadeIn .8s 1.4s forwards;
  }

  &__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
    margin: none !important;
  }

  &__content {
    margin-top: -1rem;
    opacity: 0;
    animation: ContentFadeIn .8s 1.6s forwards;
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 145px;
  }
}





@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #fff;
  }

  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: #888BFF;
  }

  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #545581;
  }
}

@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ImageFadeIn {
  0% {
    transform: translate(-.5rem, -.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
  }

  50% {
    opacity: 1;
    filter: blur(2px);
  }

  100% {
    transform: translateY(0) scale(1.0);
    opacity: 1;
    filter: blur(0);
  }
}





// ---------------------------------------------------------footer--------------------

footer {
  margin-top: 20px;
  background-color: #DFE8EC;

}

form {
  padding: 20px;
  color: #898383;
}



input[type="text"] {
  color: #898383;
}

button {
  background-color: #80B0BB;
  padding: 3px;
}

.social-icons {
  width: 40px;
  margin: 20px;

}


// -----------------------------------------------------------copyright---------------------------------
.copy-right {
  text-align: center;

}